---
import NavLink from "./NavLink.astro";
---

<nav>
  <ul>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/about">About</NavLink>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: 1rem;
  }
</style>
